Repository acanadil/testing-2: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, predictor

codecov.yml:

component_management:
  default_rules:	# Dict. rules inherited by all components that don't define a tag for themselves.
    paths: # List. Path filters.
    flag_regexes: # List. Flags to be included in the component.
    statuses: # List. Status definitions.
    # These statuses are the same as for flag_management
    # Except they don't accept 'flags'
  individual_components:  # List. These are the actual components.
    - component_id: module_calculator
      name: calculator
      paths:
        - calculator/**
    - component_id: module_predictor
      name: predictor
      paths:
        - predictor/**

both changes
  calculator/calculator.py
  predictor/predictor.py
Due: calculator, predictor

only calculator
  calculator/calculator.py
Due: calculator

good calculator
  calculator/calculator.py
Due: calculator

delete global codecov
  codecov.yml
Due: none

a
  predictor/predictor.py
Due: predictor

Update README.md
  README.md
Due: none

both
  calculator/calculator.py
  predictor/predictor.py
Due: calculator, predictor

only predictor
  predictor/predictor.py
Due: predictor

Update calculator-package.yml
  .github/workflows/calculator-package.yml
Due: none

Update predictor-package.yml
  .github/workflows/predictor-package.yml
Due: none

codecov global
  codecov.yaml
Due: none

predictor
  predictor/predictor.py
Due: predictor

calculator
  calculator/calculator.py
Due: calculator

predictor add new function
  predictor/predictor.py
Due: predictor

fixed typo
  predictor/predictor.py
Due: predictor

Update README.md
  calculator/README.md
Due: calculator

Update README.md
  predictor/README.md
Due: predictor

error in predictor
  predictor/predictor.py
Due: predictor

trying to reach 100% code coverage
  calculator/test_calculator.py
  predictor/predictor.py
  predictor/test_predictor.py
Due: calculator, predictor

fixed error (pytest --cov./calculator runs both tests????)
  predictor/predictor.py
Due: predictor

A
  predictor/test_predictor.py
Due: predictor

xd
  predictor/test_predictor.py
Due: predictor

ad
  calculator/calculator.py
  predictor/predictor.py
Due: calculator, predictor

added secondary calculator project
  calculator_binary.py/README.md
  calculator_binary.py/calculator_binary.py
Due: none

Create Binary-Calculator.yml
  .github/workflows/Binary-Calculator.yml
Due: none
